:root {
	--bg: #0f0f12;
	--fg: #fff;

	--link: #c96c6c;
	--link-hover: #e18888;

	--highlight: #c54848;
}

html,
body {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	color: var(--fg);
	background: var(--bg);
	margin: 0;
	padding: 0;
	font:
		1rem "Poppins",
		verdana,
		sans-serif;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

span.highlight {
	color: var(--highlight);
}

p {
	margin: 0;
}

.container {
	max-width: 964px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px;
}

header a:link,
header a:visited,
header a:active {
	color: var(--link);
}

header a:hover {
	color: var(--link-hover);
}

header .desktop {
	display: block;
}

header .mobile {
	display: none;
}

header img {
	border-radius: 100%;
	margin-bottom: 16px;
}

@media only screen and (max-width: 450px) {
	header .heading-wrapper {
		text-align: center;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	.center-on-mobile {
		text-align: center;
	}
}

header h1 {
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 2.25rem;
	margin-bottom: 0;
	padding-bottom: 0;
}

header span.pronounciation {
	font-size: 0.8rem;
}

header p {
	margin-top: 16px;
}

main {
	margin: 24px 0;
	padding: 0 12px;
}

a.card h1 {
	font-size: 1rem;
}

a.card:hover {
	box-shadow: 0 0 8px #222;
	border-color: #49494d;
}

a.card .footer {
	margin-top: auto;
}

.pill {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	padding: 2px 6px;
	font-size: 0.8rem;
	font-weight: 700;
	border-radius: 10px;
	width: fit-content;
}

.rust {
	color: black;
	background: #ffccb5;
	border: 1px solid #b57b61;
	border-radius: 4px;
}

.rust::before {
	content: "";
	background-image: url("images/icons/rust.svg");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.typescript {
	color: white;
	background: #3276ce;
	border: 1px solid #24507f;
	border-radius: 4px;
}

.typescript::before {
	content: "";
	background-image: url("images/icons/typescript.svg");
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
}

.deno {
	background: #222;
	border: 1px solid #333;
	border-radius: 4px;
	color: white;
}

.deno::before {
	content: "";
	background-image: url("images/icons/deno.svg");
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}

@media only screen and (max-width: 767px) {
	.grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

main a:link,
main a:visited,
main a:active {
	display: flex;
	flex-direction: column;
	gap: 6px;
	color: inherit;
	text-decoration: none;
	border: 1px solid #2e2e33;
	border-radius: 4px;
	padding: 16px;
}

main h2 {
	font-size: 1rem;
	line-height: 1rem;
	margin-bottom: 8px;
}

main p {
	font-size: 0.9rem;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-top: auto;
	padding: 12px 12px;
	color: #b1b1b1;
	font-size: 12px;
}

footer a:link,
footer a:visited,
footer a:active {
	display: flex;
	align-items: center;
	gap: 8px;
	color: #b1b1b1;
}

footer a:hover {
	color: var(--fg);
}
